<h1>About US</h1>

<p>Steve Herrod wants to drink more water. This is his attempt to track consumption better. </p>


<h3>HighCharts Demo</h3>

<%= link_to  basic_line_charts_path, remote: true do -%>
 Line Chart
<%- end -%>

<section id="basic_line"></section>
